In [14]:
import pandas as pd
import numpy as np

df =  pd.DataFrame([ 
    [0	,1	,3	,3,	4,	5], 
    [0	,1	,2	,4,	4,	5], 
    [0	,1	,2	,5,	4,	5], 
    [0	,1	,2	,6,	4,	5], 
    ])
df

   0  1  2  3  4  5
0  0  1  3  3  4  5
1  0  1  2  4  4  5
2  0  1  2  5  4  5
3  0  1  2  6  4  5

In [16]:
df.mode(axis=1, numeric_only=True).dropna(axis=1)

     0
0  3.0
1  4.0
2  5.0
3  0.0

In [50]:
def has_mode(arr: np.array) -> bool: 
    """Checks if mode is available with the given array

    Args:
        arr (np.array): _description_

    Returns:
        bool: _description_
    """
    unique = len(set(arr.tolist()))
    length = len(arr.tolist())
    has_similar = unique != length
    
    if(has_similar):
        try
    
    
    return

In [51]:
from scipy import stats

nums = np.array([1	,2	,3,	4,	5, 6])

stats.mode(nums)
max(set(nums.tolist()), key=nums.tolist().count)

has_mode(nums)

False

In [57]:
from statistics import mode, StatisticsError

nums_no_mode = np.array([1	,1	,3, 3	,6,	4,	5])

stats.mode(nums_no_mode)
# max(set(nums_no_mode.tolist()), key=nums_no_mode.tolist().count)

has_mode(nums_no_mode)
# mode(nums_no_mode.tolist())

True